{% extends "chemia_main/base.html" %} {% load static %}
{%block title %}About{% endblock %} {% block link %}
<link
    rel="stylesheet"
    href="{% static 'chemia_main/about.css' %}"
/>
{% endblock %} {% block main %}
<section class="company_info">
    <header class="info_header">
        <div class="line_start"></div>
        <img
            src="{% static 'images/Frame1.png' %}"
            alt="leather tool"
        />
        <h2>Company info</h2>
    </header>
    <div class="info_first">
        <div>
            {% if language == 'en' %}
            <p class="en">
                Chemia handmade products - started in 2012, in the corner of Nika's dining table.
                 Then it was just an experiment to see if Nika could make a simple belt. 
                 Instead of doing one, he did six or seven - each repetition getting better
                  and better. Soon others were asking for Nika's things: belts, wallets and other
                   crafts. 

                We often say: "It was a curiosity that turned into a hobby, 
                turned into a business, and became a brand."

            </p>
            {% else %}
            <p class="ka">
                Chemia handmade products - დაიწყო  2012 წელს, ნიკას ს სასადილო მაგიდის კუთხეში. 
                მაშინ ეს მხოლოდ ექსპერიმენტი იყო იმის დასანახად, შეეძლო თუ არა ნიკას მარტივი ქამრის 
                დამზადება. Ერთის გაკეთების ნაცვლად, მან გააკეთა ექვსი ან შვიდი - თითოეული გამეორება 
                სულ უფრო და უფრო უმჯობესდებოდა. Სულ მალე სხვებიც სთხოვდნენ ნიკას ნივთებს: ქამრებს, 
                საფულეებს და სხვას. 

                ჩვენ ხშირად ვამბობთ: "ეს იყო ცნობისმოყვარეობა, რომელიც გადაიქცა ჰობიდ, გადაიქცა 
                ბიზნესად და ჩამოყალიბდა ბრენდად".

            </p>
            {% endif %}
        </div>
        <img
            src="{% static 'images/info_image1.png' %}"
            alt="working process"
        />
    </div>
    <div class="info_second">
        <img
            src="{% static 'images/info_image2.png' %}"
            alt="working process"
        />
        <div>
            {% if language == 'en' %}
            <p class="en">
                Although our activities are focused on creating different and individual products 
                for customers, we also produce corporate orders for a growing list of partners and
                customers.

                Our product philosophy is to keep things simple. Our designs hint at classic style
                and focus on pragmatism. We want our customers to be confident that Chemia belts, 
                wallets and bags are durable enough to travel the world with them, while being 
                suitable for everyday use. Our products are made in Georgia.

            </p>
            {% else %}
            <p class="ka">
                Მიუხედავად იმისა რომ Ჩვენი საქმიანობა კონცენტრირებულია მომხმარებლისთვის 
                განსხვავებული და ინდივიდუალური პროდუქციის შექმნაზე, ასევე ვაწარმოებთ კორპორატიულ 
                შეკვეთებს პარტნიორთა და მომხმარებელთა მზარდი სიისთვის. 

                ჩვენი პროდუქტის ფილოსოფია არის ყველაფერი მარტივი იყოს. ჩვენი დიზაინი კლასიკურ 
                სტილს მიანიშნებს და ფოკუსირებულია პრაგმატულობაზე. ჩვენ გვსურს, რომ ჩვენი 
                მომხმარებლებლები დარწმუნებულნი იყვნენ, რომ ჩემიას ქამრები, საფულეები და ჩანთები 
                საკმარისად გამძლეა იმისათვის, რომ მათთან ერთად იმოგზაურონ მსოფლიოში, და ამავდროულად 
                შეეფერება ყოველდღიურ სიტოაციაში გამოყენებას. ჩვენი საქონელი დამზადებულია საქართველოში.
            </p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
