{% extends "chemia_main/base.html" %} {% load static %}
{%block title %}Chemia{% endblock %}

{% block link %} <link
rel="stylesheet"
href="{% static 'chemia_main/index.css' %}"
/> {% endblock %}

{% block main %}

<section class="banner">
    <img src="{% static 'images/banner_image.png' %}" alt="Natural Leather">
    <div class="overlay">
        <h1>Product made in Georgia</h1>
        <h2>high quality leather</h2>
    </div>
</section>
<section class="company_info">
    <header class="info_header">
        <div class="line_start"></div>
        <img src="{% static 'images/Frame1.png' %}" alt="leather tool">
        <h2>Company info</h2>
    </header>
    <div class="info_first">
        <div>
            <p>
                ჩემიას ბრენდი 2012 წელს შეიქმნა, როდესაც გადავწყვიტეთ, რომ შეგვექმნა რაიმე განსხვავებული
                იმისაგან, რასაც მაღაზიებში ვხედავდით. გვინდოდა ერთი ქამრის გაკეთება, მაგრამ ბოლოს 7 
                ცალი გავაკეთეთ, ყოველი მათგანი წინაზე უკეთესი. დღესდღეობით ჩემიას ბრენდი ემსახურება 
                არამარტო ორიგინალი სტილის მეძებარს, არამედ კორპორაციებსაც.
            </p>   
        </div>
        <img src="{% static 'images/info_image1.png' %}" alt="working process">
    </div>
    <div class="info_second">
        <img src="{% static 'images/info_image2.png' %}" alt="working process">
        <div>
            <p>
                ჩვენი ფილოსოფია არის რომ დავტოვოთ ყველაფერი მარტივად. ჩვენი პროდუქტი კი არის კლასიკური,
                ფუნქციური და გამძლე. ისინი შეგიძლიათ გამოიყენოთ ნებისმიერ ვითარებაში, დაწყებული ბიზნეს 
                შეხვედრებიდან, დამთავრებული მთაში მოგზაურობით. ყველა პროდუქტი იწარმოება საქართველოში.
            </p>
        </div>
    </div>
</section>
section.


{% endblock %}


