{% extends "chemia_main/base.html" %} {% load static %}
{%block title %}Chemia{% endblock %} {% block link %}
<link
    rel="stylesheet"
    href="{% static 'chemia_main/index.css' %}"
/>
{% endblock %} {% block main %}

<section class="banner">
    <img
        src="{% static 'images/banner_image.png' %}"
        alt="Natural Leather"
    />
    <div class="image_overlay"></div>
    <div class="overlay">
        <h1>Product made in Georgia</h1>
        <h2>high quality leather</h2>
    </div>
</section>

<section class="main_info">
    <div class="frame">
        <div class="gold_line"></div>
        <img
            src="{% static 'images/Frame_banner.png' %}"
            alt="dividing frame"
        />
        <div class="gold_line"></div>
    </div>
    <div class="chemia_main_info">
        <div>
            <p class="top_info">
                Chemia brand was founded in 2012, after
                which it offers customers the highest
                quality handmade leather products. Our
                artisans craft our products from the highest
                quality leather, giving us a result that is
                both durable and distinctive.
            </p>
        </div>
        <img
            src="{% static 'images/chemia_info_image.png' %}"
            alt="leatherwork process"
        />
        <div>
            <p class="bottom_info">
                Experience the luxury of owning a handmade
                pattern where every detail is tailored to
                you. Whether you're looking for an accessory
                or a gift, our collection offers unmatched
                quality and style.
            </p>
        </div>
    </div>
</section>

<section class="categories">
    <div class="category_horizontal">
        <div class="category_vertical">
            <img src="{% static 'images/leather_wallet.png' %}" alt="leather wallets">
            <div class="divider_gold"></div>
            <p class="category_name">Leather Wallets</p>
        </div>
        <div class="category_vertical">
            <img src="{% static 'images/leather_bag.png' %}" alt="leather bags">
            <div class="divider_gold"></div>
            <p class="category_name">Leather Bags</p>
        </div>
        <div class="category_vertical">
            <img src="{% static 'images/leather_belt.png' %}" alt="leather belts">
            <div class="divider_gold"></div>
            <p class="category_name">Leather Belts</p>
        </div>
    </div>
</section>

<section class="reviews">
    <div class="frame">
        <div class="gold_line"></div>
        <img
            src="{% static 'images/Frame_banner.png' %}"
            alt="dividing frame"
        />
        <div class="gold_line"></div>
    </div>
    <div class="custom_orders">
        <p class="custom_text">we take pride in our product</p>
        <p class="custom_text">message us for <span>custom</span> orders</p>
    </div>
    <div class="review_container">
        <div class="review_item">
            <img src="{% static 'images/review_avatar.png' %}" alt="review avatar">
            <p class="reviewer_name">ლადო</p>
            <div class="golden_divider"></div>
            <p class="actual_review">
                ჩემიას ჩანთა მეუღლემ შეუკვეთა ჩემიას ჩვენი ქორწინების წლისთავისთვის.
                მათ მოთხოვნილი დეტალების შესაბამისად იდეალურად დაამზადეს ჩანთა, რომელსაც
                ახლა ყოველდღე ვხმარობ. ვუწევ რეკომენდაციას.
            </p>
        </div>
        <div class="review_item">
            <img src="{% static 'images/review_avatar.png' %}" alt="review avatar">
            <p class="reviewer_name">ლევანი</p>
            <div class="golden_divider"></div>
            <p class="actual_review">
                ჩემიას ბრენდი აღმოვაჩინე როდესაც მეგობრისთვის საჩუქარს ვეძებდი,
                პირველი ქამრის შეძენის შემდეგ ყველანაირ ტყავის პროდუქციას აქ ვყიდულობ.
            </p>
        </div>
        <div class="review_item">
            <img src="{% static 'images/review_avatar.png' %}" alt="review avatar">
            <p class="reviewer_name">მათე</p>
            <div class="golden_divider"></div>
            <p class="actual_review">
                გამძლე და პრაქტიკული ქამრები აქვთ, კმაყოფილი ვარ შენაძენით.
            </p>
        </div>
    </div>
</section>

{% endblock %}
