{% extends "chemia_main/base.html" %} {% load static %} 
{%block title %} Products {% endblock title %} 
{% block link%}
<link
    rel="stylesheet"
    href="{% static 'chemia_main/products.css' %}"
/>
{% endblock link %}

{% block main %}

<section class="products">
    {% for product in products %}
    <div class="product_item">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <p class="product_name">{{ product.name }}</p>
        <p class="category">{{ product.category }}</p>
        <p class="price">{{ product.price }}$</p>

    </div>
    {% endfor %}
</section>

{% endblock main %}




<!-- {% comment %} <h1>Products Page</h1>
{% for product in products %}
    <h2>{{ product.name }}</h2>
    <img
        src="{{ product.image.url }}"
        alt="{{ product.name }}"
    />
    <p>{{ product.category }}</p>
    <p>{{ product.description }}</p>
    <p>{{ product.price }}</p>
{% endfor %} {% endcomment %} -->