/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}


/* actual css */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main_content {
    flex: 1;
}


/* header styles */
.header_flex {
    position: relative;
    z-index: 5;
    height: 232px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0E1A28;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    gap: 40px;
}

.header_flex:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}


.logo_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main_texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.main_texts p {
    font-family: 'League Gothic', sans-serif;
    font-weight: 400;
    font-size: 52px;
    align-items: right;
    color: #E9B26F;
    line-height: 62.4px;
    cursor:default;
}

.main_texts p:hover {
    transform: scale(1.05);
    transition: 0.3s;
}


.blue_line {
    width: 7px;
    height: 190px;
    background-color: #26436B;
    border-radius: 10px;
}

.brand_name {
    font-family: 'League Gothic', sans-serif;
    font-weight: 400;
    font-size: 102px;
    color: #fff;
    transition:  0.5s;
}

.brand_name:hover {
    color: #FCDC5A;
    transform: scale(1.05);
}

.logo_image {
    width: 175px;
    height: 181px;
}

.nav_ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.nav_ul li {
    font-family: 'League Gothic', sans-serif;
    font-size: 52px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.nav_ul li:hover { 
    color: #FCDC5A;
    transform: scale(1.05);
}



/* main content styles */



/* footer styles */

.footer_flex {
    height: 210px;
    background-color: #687E9C;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
}

.footer_links ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.footer_links ul li {
    font-family: 'League Gothic', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}

.developed_by p {
    font-family: 'League Gothic', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
}