@font-face {
    font-family: 'Babuka';
    src: url(babuka.ttf) format('truetype');
}


/* banner styles */

.banner {
    position: relative;
    display: inline-block;
    width: 100%;
}

.banner img {
    position: relative;
    z-index: 0;
    width: 100%;
    margin-top: -150px;
}

.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image_overlay:hover {
    opacity: 0.6;
}


.overlay {
    width: 80%;
    position: absolute;
    top: 70%;
    left: 53%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
    color: white;
    font-family: 'League Gothic', sans-serif;
    text-align: center;
    opacity: 0;
}

.image_overlay:hover + .overlay {
    top: 50%;
    left: 50%;
    opacity: 1;
}


.overlay h1 {
    font-size: 122px;
    font-weight: 400;
}

.overlay h2 {
    font-size: 102px;
    font-weight: 400;
    
}


.overlay h1 {
    font-size: 122px;
    font-weight: 400;
}

.overlay h2 {
    font-size: 102px;
    font-weight: 400;
}


/* dividing frame styles */

.frame {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 70px;
}

.gold_line {
    background-color: #E9B26F;
    height: 4px;
    width: 25%;
}

.frame img {
    height: 63.8px;
}

/* main info styles */

.chemia_main_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 80%;
    margin: 70px auto;
}

.chemia_main_info img {
    width: 100%;
}

.chemia_main_info p {
    font-family: 'League Gothic', sans-serif;
    font-weight: 400;
    font-size: 50px;
    text-align: start;
}