@font-face {
    font-family: 'Babuka';
    src: url(babuka.ttf) format('truetype');
}

.banner {
    position: relative;
    display: inline-block;
    width: 100%;
}

.banner img {
    position: relative;
    z-index: 0;
    width: 100%;
    margin-top: -150px;
}

.overlay {
    width: 80%;
    position: absolute;
    top: 70%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'League Gothic', sans-serif;
}

.overlay h1 {
    font-size: 122px;
    font-weight: 400;
}

.overlay h2 {
    font-size: 102px;
    font-weight: 400;
}

/* company info css */

.company_info {
    margin-top: 50px;
    margin-bottom: 50px;
}

.info_header {
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'League Gothic', sans-serif;
    gap: 10px;
}

.line_start {
    width: 89px;
    height: 19px;
    background-color: #26436B;
}

.info_header img {
    width: 38px;
    height: 83px;
}

.info_header h2 {
    font-size: 102px;
    font-weight: 400;
}

.info_first {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.info_first img {
    width: 555px;
    height: 370px;
}

.info_first div {
    width: 562px;
    height: 398px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Babuka';
    font-size: 24px;
    line-height: 36px;
}


.info_second {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.info_second img {
    width: 555px;
    height: 337px;
}

.info_second div {
    width: 584px;
    height: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Babuka';
    font-size: 24px;
    line-height: 36px;
}

